<div id="<%= dom_id(comment) %>">
  <% c_id = Community.find_by(id: comment.event.community_id) %>
  <hr>
  <p><%= comment.date.to_formatted_s(:long)  %></p>
  <p><strong><%= comment.user.username %></strong> said: </p>
  <p><%= comment.content %></p>
  

  <% if c_id.organizer == session[:user_id].to_i or comment.user_id == session[:user_id].to_i %>
  	<p><%= link_to "(delete)", comment, method: :delete, remote: true %>
  <% end %>
</div>
