
<%= form_for @comm do |form| %>

  <p><%= form.label :comm_name, "Community Name" %>
  <br>
  <%= form.text_field :comm_name, size: 80, autofocus: true, required: true %></p>

  <p><%= form.label :image_url %>
  <br>
  <%= form.text_field :image_url %></p>

  

  <p><%= form.label :color_id, "Pick a color" %>
  <br>
  <%= form.collection_select :color_id, Color.all.order('name'), :hex, :name %></p>

  <%= form.hidden_field :organizer, value: session[:user_id].to_i %>

  <p><%= form.label :comm_category, "Category" %>
  <br>
  <%= form.text_field :comm_category %></p>

  <%= form.label :location,  "Location" %>
  <br>
  <%= form.text_field :location, size: 80 %>

  <p><%= form.label :description %>
  <br>
  <%= form.text_area :description, rows: 4, cols: 80 %></p>

  <%= form.submit %>
<% end %>

