<h1>Communities</h1>

<p>Seach communities by title or category:</p>
<%= form_tag communities_path, :method => :get do %>
  <%= text_field_tag :keyword, '', placeholder: 'Search by title...' %>
<% end %>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Organizer</th>
      <th>Category</th>
      <th>Location</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @community.each do |comm| %>

    <% user = User.find_by(id: comm.organizer) %>
      <tr>
        <td><%= link_to comm.comm_name, "/communities/#{comm.id}"%></td>
        <td><%= user.username %></td>
        <td><%= comm.comm_category %></td>
        <td><%= comm.location %></td>
      </tr>
    <% end %>
  </tbody>
</table>

