<script>
$(document).ready(function() {

    // page is now ready, initialize the calendar...

    var id = <%= @user.id %>

    $('#calendar').fullCalendar({
        // put your options and callbacks here
		header:
		{
			left: 'prev,next today',
			center: 'title',
			right: 'month,agendaWeek,agendaDay'
		},

		/*
			selectable:true will enable user to select datetime slot
			selectHelper will add helpers for selectable.
		*/
		selectable: true,
		selectHelper: true,
		events: {
			url: '/users/'+id+'.json',
			type: 'GET',
			backgroundColor: 'yellow',
			textColor: 'black'

		}
    })

});
</script>
<h1>My Account</h1>

<%= image_tag(@user.image_url) %>


<p>Name: <%= @user.username %></p>
<p>Email: <%= @user.email %></p>

<h1>My Communities</h1>
<p><%= link_to 'add a community', new_community_path %></p>

<%= render 'comm_detail' %>

<h1>My Calendar</h1>

<div id='calendar'></div>
