<script>
$(document).ready(function() {

    // page is now ready, initialize the calendar...

    var id = <%= @user.id %>

    $('#calendar').fullCalendar({
        // put your options and callbacks here
		header:
		{
			left: 'prev,next today',
			center: 'title',
			right: 'month,agendaWeek,agendaDay'
		},

		/*
			selectable:true will enable user to select datetime slot
			selectHelper will add helpers for selectable.
		*/
		selectable: true,
		selectHelper: true,
		events: {
			url: '/users/'+id+'.json',
			type: 'GET',
			backgroundColor: 'yellow',
			textColor: 'black'

		}
    })

});
</script>
<h1>My Account</h1>

<p>Name: <%= @user.username %></p>
<p>Email: <%= @user.email %></p>

<% @events.each do |event| %>
	<%= event.title %>
<% end %>

<h1>My Communities</h1>
<%= link_to 'add a community', new_community_path %>
  <ul>
    <% comms = Community.where(organizer: @user.id) %>
    <% comms.each do |comm| %>
      <li><%= link_to comm.comm_name, "/communities/#{comm.id}" %>    
      		<%= link_to "Make changes", edit_community_path(comm.id) %></li>
    <% end %>
  </ul>

<h1>My Calendar</h1>

<div id='calendar'></div>
